.page__container {
  margin-top: 1rem;
}

.newoffer__label{
  color: rgba(51, 51, 51, 0.8);
  padding-top: 15px;
}

.newoffer__description{
  margin-bottom: 1rem;
}

.newoffer__btns {
  margin-bottom: 2rem;
  margin-top: .1rem;
  display: flex;
}

.newoffer__btn--cancel,
.newoffer__btn--apply {
  width: 7rem;
  background: #0f9caf !important;
  color: #fff;
  border: none !important;
  margin: 0 1rem 0 0 ;
}

.newoffer__btn--cancel:hover,
.newoffer__btn--apply:hover {
  background: #097381 !important;
}

.newoffer__container 
.autComplete-dev 
.form-control {
  width: 100%;
}

.newoffer__errMsg {
  color: red;
  padding-bottom: 1.5rem;
  padding-left: 0.6rem;
  margin-top: 0.7rem;
}

.newoffer__errMsg--icon {
  font-size: 1rem;
  padding-right: 0.5rem;
}

@media only screen and (min-width: 576px) {
  .col-lg-1 .newoffer__btn--cancel {
    margin-left: 5rem
  }
}

@media (max-width: 576px) {
  .newoffer__description{
    width: 100% !important;
  }

  .newoffer__btn--cancel {
    width: 7rem;
    margin-top: 10px !important;
  }

  .autComplete-dev .form-control {
    margin-left: 0;
  }


.autComplete-dev .form-control {
  width: 22.9rem;
}

} 

