.newoffer__container {
  margin-top: 1rem;
}

.newoffer-head__title {
  color: rgba(51, 51, 51, 0.8);
  font-size: 32px;
  padding-bottom: 15px;
  margin-bottom: 1.3rem;
  border-bottom: 2px solid rgba(51, 51, 51, 0.8);
  width: fit-content; 
  margin-left: 7px;
}

.newoffer__content {
  padding-left: 0.7rem;
}

.newoffer__content--description{
  width: 70% !important;
}

.newoffer__content-btn {
  padding-left: 1.5rem !important;
  padding-right: 1.5rem !important;
  width: 7rem;
  margin: 10px !important;
  background: #0f9caf !important;
}


@media only screen and (max-width: 768px) {
  /* For mobile phones: */
  .newoffer__content--description{
    width: 100% !important;
  }
} 

