@import url('https://fonts.googleapis.com/css?family=Lato|Roboto&display=swap');

html,
body,
* {
  padding: 0;
  margin: 0;
  font-family: 'Lato', sans-serif !important;
}
.body-container {
  min-height: calc(100vh - 106px) !important;
}
.loading {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, 50%);
}
