
.member-card__avatar {
  border-radius: 50% !important;
  width: 50px !important;
}

.member-card {
  min-height: 250px !important;
  min-width: 200px !important;
  margin-bottom: 15px !important;
  cursor: pointer;
}

.member-card:hover {
  box-shadow: 0px 1px 12px #c3c3c3;
}
.member-card__skills{
  display: flex;
  flex-wrap: wrap;
}
.member-card__skill {
  font-size: 14px;
  margin-left: 5px;
  background-color: #0f9caf52;
  padding: 6px;
  color: #494949;
  border-radius: 3px;
  width: fit-content;
}

.member-card__username {
  color: rgba(51, 51, 51, 0.7);
  font-size: 18px;
  font-weight: bold;
  padding-top: 8.5%;
  padding-left: 0 !important;
  float: left !important;
}
