.profile__username {
  text-align: center;
  margin-top: 15px;
}

.profile__img {
  margin: 10px 0px;
  border-radius: 5px;
  height: 270px;
  width: 200px;
}

.profile__contactInfo, .profile__skills {
  color: rgb(47, 47, 47);
  margin: .7rem;
  font-size: 16px;
  color: rgba(51, 51, 51, 0.8);
}

@media (max-width: 992px) {
  .profile__contanier {
    margin: 26px auto !important;
  }
  .profile__img{
    margin: 0 25% !important;
    height: 270px;
    width: 200px;
  }
  .profile__title__line {
    display: none !important;
  }
}
