.profile__contanier {
  margin: 50px auto;
}


.profile__title {
  position: relative;
  font-size: 26px;
  color: #0f9caf;
}

.profile__title__line {
  height: 0.5px;
  position: absolute;
  top: 0px;
  right: 0px;
  width: 50%;
  background-color: lightgray;
}

.profile__main {
  padding: 0 0 0 50px;
}

.profile__fullname {
  font-size: 30px;
  color: rgba(51, 51, 51, 0.8);
  padding-top: 15px;
}

.profile__bio {
  font-size: 16px;
  line-height: 20px;
  color: rgba(51, 51, 51, 0.8);
}

.profile__line {
  background-color: lightgray;
  height: 0.1rem;
}
