.content-signup{
    margin: 0 auto;
    padding: 15px;
    width: 358px;
    height: auto;
    box-sizing: border-box;
    background: #FFFFFF;
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.5);
    border-radius: 2px;
    }
  
    .content-signup__star{
    color: red;
    }

    .content-signup__submit{
    height: 40px;
    width: 329px;
    background-color: #0F9CAF !important;
    }
    
    .content-signup__text-muted{
    padding: 10px 0;
    margin-left: 70px;
    }
    .content-signup__word-login{
    cursor: pointer;
    color: #0F9CAF;
    } 
    .errormsg{
    color: red;
    padding: 0 24px;
    }
    
    .content-signup__word-sigup  .content-signup__username   .content-signup__confirm-password .content-signup__submit .content-signup__text-muted .content-signup__word-login{
    font-family: Lato;
    font-style: normal;
    letter-spacing: 0.04em;
    align-items: center;
    text-align: center;
    }

    .content-signup__username 
    .content-signup__email 
    .content-signup__password  
     .content-signup__confirm-password
   {
    margin: 0 37px 0 24px;
    color: black;
    font-style: normal;
    align-items: center;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    letter-spacing: 0.03em;
    color: black;
    border-radius: 3px;
   }
    .content-signup__word-sigup
     .content-signup__submit{
        font-weight: 600;
        font-size: 24px;
        line-height: 29px;
    }

    .content-signup__word-sigup{
        color: #0F9CAF;
    }
    