.content-page{
    position: relative;
}

.content-page__content-signup{
    position: absolute;
    width: 358px;
    height: 494px;
    left: 475px;
    box-sizing: border-box;
    background: #FFFFFF;
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.25);
    border-radius: 2px;
    padding-top: 29px;
    padding-left: 20px;
    margin-top: 54px;

}
.content-page__content-signup__word-sigup{
    font-family: Lato;
    font-style: normal;
    font-weight: 600;
    margin-left: 115px;

font-size: 24px;
line-height: 29px;
align-items: center;
text-align: center;
letter-spacing: 0.04em;

color: rgba(51, 51, 51, 0.58);
}
.content-page__content-signup__username{
    margin-right: 37px;
    margin-left: 24px;
    font-family: Lato;
    font-style: normal;
    align-items: center;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    letter-spacing: 0.03em;
    color: #929292;
    border-radius: 3px;

}
.content-page__content-signup__username-star{
    color: red;
}
.content-page__content-signup__email{
    margin-right: 37px;
    margin-left: 24px;
    font-style: normal;
    align-items: center;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    letter-spacing: 0.03em;
    color: #929292;
    border-radius: 3px;

}
.content-page__content-signup__email-star{
    color: red;
}
.content-page__content-signup__password{
    margin-right: 37px;
    margin-left: 24px;
    color: black;
    font-style: normal;
    align-items: center;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    letter-spacing: 0.03em;
    color: #929292;
    border-radius: 3px;

}
.content-page__content-signup__password-star{
    color: red;
}
.content-page__content-signup__confirm-password{
    margin-right: 37px;
    margin-left: 24px;
    font-style: normal;
    align-items: center;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    letter-spacing: 0.03em;
    color: #929292;
    border-radius: 3px;

}
.content-page__content-signup__confirm-password-star{
    color: red;
}

.content-page__content-signup__submit{
    height: 50px;
    width: 277px;
    background-color: #0F9CAF !important;
    margin-left: 24px;
    align-items: center;
    letter-spacing: 0.08em;
    font-family: Lato;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
}

.content-page__content-signup__text-muted{
    margin-right: 37px;
    margin-left: 64px;
    margin-top: 20px;
}
.content-page__content-signup__word-login{
    text-align: center;
    color: #0F9CAF;
    cursor: pointer;
}    
