.profile__experience_title, .profile__experience__un {
  color: #0f9caf;
  text-transform: uppercase;
  font-size: 16px;
}
.profile__experience_title , .profile__experience_date{
  text-align: center;
}
.profile__experience_date, .profile_experience_desc {
  font-size: 14px;
  color: rgba(51, 51, 51, 0.8);
  word-break: break-all;
  padding-top: .3rem !important;
}

.profile__experience__un {
  padding-top: 1.5rem;
}
.experience__icons{
  right: 0;
  position: absolute;
  top: -5px;
}