.footer__container {
  background-color: #0f9caf;
  height: 50px;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  color: #eeeeee;
  justify-content: space-between;
  font-size: 14px;
}
.footer__icons {
  align-self: center;
  width: 100px;
}
.footer__icons .fab {
  margin-left: 12px;
}
.footer__container a {
  text-decoration: none;
  color: #eeeeee;
  cursor: pointer;
}

.footer__container span,
.footer__container ul {
  margin: 0 30px;
}
.footer__container ul {
  font-size: 17px;
}

.footer {
  background-color: #0f9caf;
  bottom: 0;
}
