 .myOffers-head{
  text-align: center;
}
.page__container {
  margin: 20px;
}
.myOffers-head__title {
  color: rgba(51, 51, 51, 0.8);
  font-size: 32px;
  padding-bottom: 15px;
  margin-bottom: 1rem;
  border-bottom: 2px solid rgba(51, 51, 51, 0.8);
  width: fit-content; 
}

.card-myOffers{
  border: 1px solid rgba(234, 234, 234, 0.9) !important;
  border-radius: 0.3rem !important;
  cursor: pointer;
  margin: 0.2rem;
}
.card__myOffers--status,
.card__myOffers--title,
.card__myOffers--position {
  display: block;
  font-family: Lato;
  letter-spacing: 0.4px;
}

.card__myOffers--position {
  color: #0F9CAF !important;
}

.card__myOffers--title {
  color: rgba(51, 51, 51, 0.8) !important ;
}

.card__myOffers--status {
  float: right;
}

.card__myOffers--body {
  text-align: center;
}

.card-myOffers__header{
  border-bottom: none !important;
  background: #fff !important;
}

.card__myOffers--body {
  border-top: none;
}

.myOffer__card--completed{
  color: #0A8F07;
}

.myOffer__card--inProgress {
  color: #F77D0E;
}

.offer__card--activeStatus {
  color: #1BA7E2;
}

.myOffer__card--finished{
  color: red;
}
.myOffer__card--completed,
.myOffer__card--inProgress,
.myOffer__card--finished,
.offer__card--activeStatus {
  float: right;
}

@media only screen and (max-width: 768px) {
  /* For mobile phones: */
  .myOffers-head__title {
    left: 130px;
    font-size: 24px;
  }
} 