.myoffers__container--title {
  color: rgba(51, 51, 51, 0.8);
  font-size: 32px;
  padding-bottom: 15px;
  border-bottom: 2px solid rgba(51, 51, 51, 0.8);
  width: fit-content;
  margin: 2rem 0 1.3rem 0.4rem;
}

.myoffer__card{
  border: 1px solid rgba(234, 234, 234, 0.9) !important;
  border-radius: 0.3rem !important;
  cursor: pointer;
  margin: 0.2rem;
}

.myoffer__card:hover {
  box-shadow:  0 0 30px -15px rgba(0, 0, 0, 0.3);
}

.myoffers-card__body {
  font-family: Lato;
  letter-spacing: 0.4px;
}

.myoffers-card__body--position {
  color: #0F9CAF !important;
}

.myoffers-card__body--title {
  color: rgba(51, 51, 51, 0.8) !important ;
}

.myoffers-card__body {
  text-align: center;
}

.myoffer__card--header{
  border-bottom: none !important;
  background: rgba(238, 238, 238, 0.3) !important;
}

.myoffers__status--completed{
  color: #0A8F07;
}

.myoffers__status{
  float: right;
  text-transform: capitalize;
  letter-spacing: 1px;
}

.myoffers__status--pending {
  color: #F77D0E;
}

.myoffers__status--active {
  color: #1BA7E2;
}

.myoffers__status--finished{
  color: red;
}

@media only screen and (max-width: 768px) {
  /* For mobile phones: */
  .myoffers__container--title {
    left: 130px;
    font-size: 24px;
  }
} 

