.underConstruction__container {
  display: flex;
  flex-direction: row;
  padding: 10rem 25rem
}

.underConstruction__container--icon {
  font-size: 4rem;
  padding: 4rem 1rem;
}

.underConstruction__container--link {
  text-decoration: none;
}

.underConstruction__container--content {
  padding: 3.5rem 0;
  color: rgba(51, 51, 51, 0.8);
}
.underConstruction__container--icon,
.underConstruction__container--span,
.underConstruction__container--content h2 a {
  color: #0F9CAF;
}

.underConstruction__container--content h2{
  padding: 0 6rem
}
