.profile__education_title, .profile__education__un {
  line-height: 10px;
  color: #0f9caf;
  text-transform: uppercase;
  font-size: 22px;
}

.profile__education_date, .profile_education_desc {
  font-size: 14px;
  color: rgba(51, 51, 51, 0.8);
  word-break: break-all
}

.profile__education_title, .profile__education_date {
  text-align: center;
}
.profile__education_title{
  padding-top: .3rem;
}

.education__icons{
  right: 0;
  position: absolute;
  top: -5px;
}