.side-card__title {
  font-size: 1.3rem;
  color: rgba(51, 51, 51, 0.8);
  border-bottom: 1px solid rgba(102, 102, 102, 0.4);
  width: 7rem;
  margin-bottom: 10px;
  text-transform: capitalize;
  padding-bottom: 0.8rem;
}
.side-card__li {
  list-style: none;
  color: rgba(51, 51, 51, 0.7);
}
