.offer__card {
  width: 60%;
  margin: 0.5rem;
  display: flex;
  flex-direction: column
}
  
.offer__card--header {
  display: flex;
}

.card__description{
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.not_active {
  display: none;
}

.offer__card--position {
  color: #0F9CAF;
  font-size: 1.2rem;
}

.offer__card--title{
  color: rgba(51, 51, 51, 0.7);
  font-size: 0.9rem;
}

.offer__card--saved  {
  position: absolute;
  top: -1px;
  right: 11px;
}

.card__hovered:hover {
  box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.25);
}

.card__description{
  color: rgba(51, 51, 51, 0.8);
  font-family: Lato;
  font-style: normal;
  font-weight: normal;
  font-size: 0.9rem;
}

.offer__card--completed,
.offer__card--inProgress,
.offer__card--pending {
  position: absolute;
  top: 20px;
  right: 40px;
  border-radius: 2px;
  color: #fff;
  padding: 0.3rem;
  width: 100px;
  text-align: center
}

.offer__card--completed {
  background: green;
}

.offer__card--inProgress {
  background: orange;
}

.offer__card--pending {
  background: #1BA7E2;
}

.offer__card--green,
.offer__card--orange,
.offer__card--blue {
  position: absolute;
  width: 5px;
  height: 139px;
  left: 0px;
  top: -1px;
}

.offer__card--green {
  background: green;
}

.offer__card--orange {
  background: orange;
}

.offer__card--blue {
  background:#1BA7E2;
}
