.header__container {
  color: #fff;
  font-size: 14px;
}

.Navbar__container.bg-light {
  background-color: #0f9caf !important;
  color: #fff !important;
}

.navbar__brand {
  font-size: 25px;
}

.nav__avatar {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin-right: 7px;
}

.nav__dropdown {
  background-color: #0f9caf !important;
  border: none !important;
}

.navbar__link {
  text-decoration: none !important;
  color: #eee !important;
  margin: 0 5px !important;
}

.navbar__link:hover {
  color: rgba(51, 51, 51, 0.7) !important;
}

.Navbar__container .active {
  color: #eee !important;
  font-weight: 600;
  border-bottom: 4px solid #ddd;
}

.navbar__link--text {
  margin: 18px 10px;
}

.Navbar__container .dropdown__item {
  text-decoration: none !important;
}

@media (min-width: 992px) {
  .Navbar__container .navigation {
    right: 0;
    position: absolute;
  }
}

.dropdown__menu a:active,
.dropdown__menu-avatar a:active {
  background-color: #eee !important;
}

.dropdown__menu {
  width: 350px;
  overflow: hidden;
}

.dropdown__menu-avatar {
  width: 80px;
  overflow: hidden;
}

.Navbar__container {
  margin: 0 !important;
}

.logo {
  position: absolute;
  top: 0;
  width: 110px;
  height: 65px;
}
