.header__container {
  background-color: #0f9caf;
  color: #eeeeee;
  font-size: 14px;
}
.Navbar__container {
  margin: 0 30px;
}
.navbar__brand {
  font-size: 20px;
}

.nav__avatar {
  width: 30px;
  height: 30px;
  border: 1px solid rgba(0, 0, 0, 0.6);

  border-radius: 50%;
}
.nav__dropdown {
  background-color: #0f9caf !important;
  border: none !important;
}
.navbar__link {
  text-decoration: none !important;
  color: #eeeeee !important;
  margin: 0 5px !important;
}
.navbar__link:hover {
  color: rgba(51, 51, 51, 0.7) !important;
}
.Navbar__container .active {
  background-color: rgba(0, 0, 0, 0.15) !important;
  border-radius: 5px !important;
}
.navbar__link--text {
  margin: 5px 10px;
}
.Navbar__container .dropdown__item {
  color: #333 !important;
  text-decoration: none !important;
}

.dropdown__menu a:active,
.dropdown__menu-avatar a:active {
  background-color: #eee !important;
}
.dropdown__menu {
  width: 350px;
  overflow: hidden;
  padding: 0 !important;
}
.dropdown__menu-avatar {
  width: 80px;
  overflow: hidden;
  padding: 0 !important;
}
.header__container .fas {
  position: relative;
}
