.header__container {
  background-color: #0f9caf;
  color: #eeeeee;
  font-size: 20px;
}
.Navbar__container {
  margin: 0 30px;
}
.navbar__brand {
  font-size: 30px;
}

.nav__avatar {
  width: 30px;
  height: 30px;
  border: 1px solid rgba(0, 0, 0, 0.6);

  border-radius: 50%;
}
.nav__dropdown {
  background-color: #0f9caf !important;
  border: none !important;
}
.navbar__link {
  text-decoration: none !important;
  color: #eeeeee !important;
  margin: 0 5px !important;
}
.navbar__link:hover {
  color: rgba(51, 51, 51, 0.7) !important;
}
.Navbar__container .active {
  background-color: rgba(0, 0, 0, 0.15) !important;
  border-radius: 5px !important;
}
.navbar__link--text {
  margin: 5px 10px;
}
.Navbar__container .dropdown__item {
  color: #333 !important;
  text-decoration: none !important;
}

.dropdown__menu a:active {
  background-color: #eee !important;
}

.header__container .fas {
  position: relative;
}
.header__container .notification-no {
  color: #eeeeee;
  position: absolute;
  z-index: 1;
  top: -8px;
  left: 12px;
  font-size: 0.7em;
  background-color: red;
  padding: 2px;
}
.dropdown_item-unseen {
  background-color: #cecccc61 !important;
  border-bottom: 1px solid #bcb6b6fc !important;
  height: 100px !important ;
}
.dropdown_item-unseen p,
.dropdown_item-seen p {
  vertical-align: middle !important;
}
.dropdown__item-title {
  margin-top: 10px !important;
  font-weight: bold !important;
}
.dropdown_item-unseen span {
}
.dropdown_item-unseen:hover,
.dropdown_item-seen:hover {
  background-color: #c9c9c9 !important;
  color: #000000 !important;
}
.dropdown_item-seen {
  border-bottom: 1px solid #bcb6b6fc !important;
  height: 100px !important ;
  justify-content: center;
}
