.cards__container {
  /* width: 16rem; */
  display: flex;
  justify-content: center;
}

.cards__card {
  color: inherit;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 1rem;
  width: 20rem !important;
  margin: 0 !important;
  margin-bottom: 4rem !important;
  height: 400px;
}

.cards__card:hover {
  color: inherit;
  text-decoration: none;
  box-shadow: 0 0 10px -5px rgba(0, 0, 0, 0.4);
}

.cards__img {
  width: 10rem;
  height: 10rem;
  overflow: hidden;
  border-radius: 50%;
}

.cards__title {
  margin: 1rem;
  text-align: center;
  font-size: 1.2rem;
  font-weight: normal;
}

.cards__sub-title {
  font-size: 0.8rem;
  font-weight: normal;
}
.cards__desc {
  font-size: 1rem;
  font-weight: lighter;
}
.cards__sub-title,
.cards__desc {
  margin: 1rem;
  text-align: center;
}

