.my-applications__title {
  color: rgba(51, 51, 51, 0.8);
  padding-bottom: 10px;
  margin-bottom: 2rem;
  border-bottom: 2px solid rgba(51, 51, 51, 0.8);
  width: fit-content;
  margin-left: 7px;
}
.page__container{
  margin: 0 auto;
}