.landing__header{
  width: 100%;
  height: 500px;
  background:
    linear-gradient(rgba(0,0,0,0.7), rgba(0,0,0,0.7)),
    url('header.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  margin: 0 !important;
}

.landing__tweet {
  color: white;
  align-content: center;
  margin: 0 auto;
  width: 60%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.landing__tweet::before {
  margin-right: 0.6rem;
  content: open-quote;
}

.landing__tweet::after {
  margin-left: 0.6rem;
  content: close-quote;
}

.landing__title {
  color: #0F9CAF;
  font-size: 1.25rem;
  font-weight: bold;
  margin-bottom: 2rem;
  margin-top: 2rem;
  text-transform: uppercase;
}

.landing__title--center {
  text-align: center;
}

.landing__aboutus {
  display: flex;
  min-height: 20rem;
  margin-top: 2rem;
}

.landing__info {
  padding: 0 4rem;
  flex: 1;
}

.landing__paragraph {
  color: rgba(51, 51, 51, 0.9);
  font-weight: lighter;
  text-align: justify;
}

.landing__img {
  overflow: hidden;
  flex: 1;
  min-height: 20rem;
  background-image: url('https://images.unsplash.com/photo-1556761175-b413da4baf72?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1567&q=80');
  background-size: cover;
}

@media only screen and (max-width: 500px) {
  .landing__aboutus {
    flex-direction: column;
  }

  .landing__header {
    height: 300px;
  }
  .landing__tweet {
    font-size: 1.4rem;
    width: 80%;
  }
}
