.page-not-found { 
  background-color: #39c4d6; 
  color: #fff;
  font-size: 100%;
  line-height: 1.5;
  font-family: "Roboto", sans-serif;
  height: calc(100vh - 106px);
}

.oops {
  font-size: 2em;
  text-align: center;
  font-weight: 500;
 }
  
.not-found {
  text-align: center;
  font-size: 10em;
  font-weight: 100;
  text-shadow: 5px 5px #1a65505e;
}

.go-back {
  font-weight: 300;
  color: #fff;
  font-size: 1.1em;
  text-decoration: none;
  border: 1px solid #efefef;
  padding: .5em;
  border-radius: 3px;
  float: left;
  margin: 2em 0 0 -155px;
  left: 50%;
  position: relative;
  transition: all .3s linear;
}

.go-back:hover {
  background-color: #027281;
  color: #fff;
  text-decoration: none;
}
