.application-card__container {
  border: 1px solid rgba(234, 234, 234, 0.3);
  margin-bottom: 10px !important;
  padding-left: 0px !important;
}
.application-card__avatar {
  width: 60px;
  height: 60px;
  border-radius: 50% !important;
  padding: 5px;
}
.application-card__button__container {
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-end;
  align-items: center;
}
.application-card__button {
  margin-right: 10px;
  margin-bottom: 5px;
  padding: 5px 30px !important;
  background-color: #0f9caf !important;
  font-size: 0.875rem !important;
  color: #eeeeee !important;
}
