.content-login {
  height: 318px;
  width: 358px;
  left: 475px;
  padding: 29px 0 0 20px;
  margin: 54px 0 0 375px;
  box-sizing: border-box;
  border-radius: 2px;
  background: #FFFFFF;
  box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.25);
}

.content-login__word-login {
  margin-left: 115px;
  font-weight: 600;
  font-size: 24px;
  line-height: 29px;
  align-items: center;
  text-align: center;
  letter-spacing: 0.04em;
  color: rgba(51, 51, 51, 0.58);
}

.content-login__submit {
  height: 50px;
  width: 277px;
  margin-left: 24px;
  align-items: center;
  letter-spacing: 0.08em;
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
  background-color: #0F9CAF !important;
}

.content-login__text-muted {
  margin: 0 37px 0 64px;
}

.content-login__word-signup {
  text-align: center;
  color: #0F9CAF;
  cursor: pointer;
}
      
.content-login .content-login__word-login .content-login__input .content-login__submit .content-login__text-muted .content-login__word-signup {
  margin: 0 auto;
}

.content-login__input {
  width: 275px;
  margin-right: 37px;
  margin-left: 24px;
  align-items: center;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  letter-spacing: 0.03em;
  color: #929292;
  border-radius: 3px;
}

.content-login__word-login .content-login__submit .content-login__username .content-login__password {
  font-family: Lato;
  font-style: normal;
}