.content-login {
  height: auto;
  width: 358px;
  padding: 29px 0 0 20px;
  margin: 70px auto;
  box-sizing: border-box;
  border-radius: 2px;
  background: #FFFFFF;
  box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.25);
}

.content-login__word-login {
  padding: 20px 0;
  font-weight: 600;
  align-items: center;
  text-align: center;
  letter-spacing: 0.04em;
  color: #3d9caf;
}

.content-login__submit {
  height: 40px;
  width: 277px;
  margin: 10px 24px;
  align-items: center;
  font-weight: 600 !important;
  background-color: #0F9CAF !important;
  border:none ;
  color: #eee;
  border-radius: 4px;
  font-size: 20px !important;
  border: none !important;
}

.content-login__submit:hover {
  background-color: rgb(11, 118, 133) !important;
}

.content-login__text-muted {
  padding: 5px 0 40px;
  text-align: center;
  font-size: 15px;
  opacity: .8;
}

.link-signup-word{
  color: #0F9CAF !important;
  font-weight: 600;
  font-size: 20px;
  text-decoration: none;
}

.link-signup-word:hover{
  text-decoration: none;
  color: #1b7688 !important;
}

.content-login__input {
  width: 275px;
  margin-right: 37px;
  margin-left: 24px;
  align-items: center;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  letter-spacing: 0.03em;
  color: black;
  border-radius: 3px;
}

.message{
  padding: 0 22px;
  color: red;
}
