.autocomplete-title {
  font-size: 16px;
  line-height: 19px;
  display: flex;
  letter-spacing: 0.06em;
  color: rgba(51, 51, 51, 0.8);

}

.autComplete-dev .form-control {
  min-height: 50px !important;
  height: auto !important;
  border-radius: 2px !important;
}

.autComplete-dev .form-control .rbt-token {
  background-color: #0F9CAF;
  border: 0;
  color: #eee;
  display: inline-block;
  line-height: 1em;
  margin: 0 3px 3px 0;
  padding: 10px 32px 10px 14px;
  position: relative;
  border-radius: 25px;
  height: 37px;
}

.autComplete-dev .form-control .rbt-token .rbt-token-remove-button {
  bottom: 0;
  color: inherit;
  font-size: inherit;
  font-weight: normal;
  opacity: 1;
  outline: none;
  padding: 3px 7px;
  position: absolute;
  right: 7px;
  text-shadow: none;
  top: 2px;
  margin: 2px;
}