.rbt-menu {
  position: absolute;
  display: block;
  max-height: 300px;
  overflow: auto;
  will-change: transform;
  width: 176px;
  top: -16px;
  left: 0px;
  padding: 5px;
  transform: translate3d(0px, 48px, 0px);
}

.dropdown-menu {
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 1000;
  display: none;
  float: left;
  min-width: 160px;
  padding: 5px 0;
  margin: 2px 0 0;
  font-size: 14px;
  text-align: left;
  list-style: none;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ccc;
  border: 1px solid rgba(0, 0, 0, .15);
  border-radius: 2px;
  box-shadow: 0 6px 12px rgba(0, 0, 0, .175);
}

.dropdown-menu>li>a {
  display: block;
  padding: 3px 20px;
  clear: both;
  font-weight: 400;
  line-height: 1.42857143;
  color: #333;
  white-space: nowrap;
  text-decoration: none;
}

.rbt-token-removeable {
  cursor: pointer;
  padding-right: 21px;
}

.rbt-token {
  background-color: #e7f4ff;
  border: 0;
  border-radius: 2px;
  color: #0F9CAF;
  display: inline-block;
  line-height: 1em;
  margin: 0 3px 3px 0;
  padding: 6px 22px;
  position: relative;
}

.rbt-token .rbt-token-remove-button {
  padding: 1px 6px !important;
  bottom: 0;
  color: inherit;
  font-size: inherit;
  font-weight: normal;
  opacity: 1;
  outline: none;
  padding: 3px 7px;
  position: absolute;
  right: 0;
  text-shadow: none;
  top: -2px;
}

button.close {
  padding: 0;
  cursor: pointer;
  background: 0 0;
  border: 0;
}

.close {
  float: right;
  font-size: 21px;
  font-weight: 700;
  line-height: 1;
  color: #000;
  text-shadow: 0 1px 0 #fff;
  filter: alpha(opacity=20);
  opacity: .2;
}

.dropdown-menu>li>a:hover {
  color: #262626;
  text-decoration: none;
  background-color: #f5f5f5;
}

.rbt-menu>li a {
  overflow: hidden;
  text-overflow: ellipsis;
}

.rbt-input-multi, .rbt-input-multi.form-control-lg, .rbt-input-multi.form-control-sm {
  width: 15% !important;
  display: block !important;
  min-height: 34px !important;
  max-height: auto;
  padding: 6px 12px !important;
  font-size: 14px !important;
  line-height: 1.42857143 !important;
  color: #555 !important;
  border: 1px solid #bfbfbf !important;
  border-radius: 2px;
}
